<form #loginForm="ngForm" (ngSubmit)="onLoginSubmit()">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email"
             required
             name="email"
             [(ngModel)]="user.email"
             class="validate">
      <label for="email" data-error="Please enter valid email">Email</label>
    </div>

    <div class="input-field col s12">
      <input id="password" type="password" name="password"
        required [(ngModel)]="user.password" class="validate">
      <label for="password" data-error="Please enter password">Password</label>
    </div>

    <div class="col s12">
      <button type="submit"
        [disabled]="!(loginForm.valid)"
        [ngClass]="{'disabled': !(loginForm.valid)}"
        class="waves-effect waves-light btn blue right">
        Login
      </button>
    </div>
  </div>
</form>
