<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="!authToken.userSignedIn()"><a (click)="presentAuthDialog()">LOGIN</a></li>
      <li *ngIf="!authToken.userSignedIn()"><a (click)="presentAuthDialog('register')">REGISTER</a></li>
      <li *ngIf="authToken.userSignedIn()"><a>PROFILE</a></li>
      <li *ngIf="authToken.userSignedIn()"><a (click)="authToken.signOut()">LOGOUT</a></li>
    </ul>
  </div>
</nav>
</div>
<app-auth-dialog #authDialog></app-auth-dialog>
