<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>{{authMode | uppercase}}</h4>
    <app-login-form *ngIf="isLoginModel()"></app-login-form>
  </div>
  <div class="modal-footer">
    <span *ngIf="isLoginModel()">
      Need an account?<a (click)="authMode='register'">Click here to register.</a>
    </span>
    <span *ngIf="!isLoginModel()">
      Already have an account? <a (click)="authMode='login'">Click here to login.</a>
    </span>
  </div>
</div>
